<form (ngSubmit)="login()">
  <div class="field">
    <label class="label" for="username">Username</label>
    <div class="control">
      <input class="input" type="text" placeholder="Username" id="username"
             [(ngModel)]="username" name="username">
    </div>
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="Password" id="password"
             [(ngModel)]="password" name="password">
    </div>
  </div>
  <button class="button">Login</button>
</form>
