<form (ngSubmit)="register()">
  <div class="field">
    <label class="label" for="username">Username</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input" id="username"
             [(ngModel)]="username" name="username">
    </div>
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="Text input" id="password"
             [(ngModel)]="password" name="password">
    </div>
  </div>
  <div class="field">
    <label class="label" for="mail">Mail</label>
    <div class="control">
      <input class="input" type="email" placeholder="Text input" id="mail"
             [(ngModel)]="mail" name="mail">
    </div>
  </div>

  <button class="button">Register</button>
</form>
